<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Stripped down SCIM client</title>
  </head>

  <body>
    <%= yield %>
  </body>
</html>